{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/manuela.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="site-heading">
            <h1>Centro de Idiomas <br> Manuela Cataño</h1>

            <h4 class="pt-3 font-weight-bold" style="font-size: calc(1vh + .7em);">Inglés | Francés | Japonés | Coreano | Ruso | Portugués | LSM | Italiano</h4>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <b>{{post.author.name}}</b>
            on {{post.date}}

          {% if current_user.id == 1 %}
            <a href="{{url_for('delete_post', post_id=post.id) }}"><br><b>DELETE</b></a>
          {% endif %}
          
          </p>
        </div>
        <hr>
        {% endfor %}

        <!-- New Post -->
        {% if current_user.id == 1 %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>

  

{% include "footer.html" %}